<!DOCTYPE html>
<html lang="en">

<head>
   <meta charset="UTF-8" />
   <meta http-equiv="X-UA-Compatible" content="IE=edge" />
   <meta name="viewport" content="width=device-width, initial-scale=1.0" />
   <title>BIRD FIGURINES SHOP</title>
   <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>
</head>

<body>
   <div id="root">
      <header class="container">
         <div class="header_left">
            <img src="./assets/images/logo_owl.png" alt="shop logo" />
            <span>BIRD FIGURINES SHOP</span>
         </div>
         <div class="header_right">
            <search-bar v-model="searchValue" 
               placeholder="Product search...">
            </search-bar>
            <custom-button class="cart-button" @click="showCart">
               SHOPPING CART
            </custom-button>
            <cart v-if="isCartVisible" @close="closeCart"></cart>
         </div>
      </header>
      <main class="container">
         <div class="goods-list" v-if="filteredItems.length">
            <good v-for="item in filteredItems" :item="item"></good>
         </div>
         <div class="no-data" v-else>No data</div>
      </main>
   </div>
</body>

</html>
